<mat-toolbar color="primary">
  <span>SwitchBlock</span>

  <span class="combo" *ngIf="switches$ | async as switches">
    <span>{{ (activeCollection$ | async)?.name}}</span>
    <button mat-icon-button [matMenuTriggerFor]="collectionMenu">
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #collectionMenu="matMenu">
      <button *ngFor="let collection of switches; let i = index" mat-menu-item
              (click)="selectCollection(i)">
        <span>{{collection.name}}</span>
      </button>
    </mat-menu>
  </span>

  <span class="spacer"></span>

  <span class="combo" *ngIf="user$ | async as user">
    <mat-icon class="icon">person</mat-icon>
    <span>{{ user.name }}</span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
